body {
    background-color: white;
    font-family: Tahoma;
}
.box {
    background-color: #c9f5ef;
    width: 600px;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border-radius: 2px;
    border: 2px solid #595959;
}
p {
    color: #20856d;
    padding-left: 15px;
    padding-top: 10px;
}
a {
    color: dimgrey;
    font-size: 10px;
    padding-left: 15px;
}
#tarTitulo {
    width: 450px;
    margin-left: 25px;
    margin-top: 5px;
}
label{
    font-size:small;
    margin-left:15px;
    margin-bottom:20px;
}
#geradorID {
    width: 452px;
    margin-top: 5px;
    margin-left: 10px;
}
textarea{
    margin-top:5px;
}
#tarStatus {
    width: 452px;
    margin-top: 5px;
    margin-left: 20px;
}
#tarData {
    width: 450px;
    margin-left: 29px;
    margin-top: 5px;
}
button {
    width: 80px;
    background-color: #c9f5ef;
    border: 2px solid #c9f5ef;
    color: black;
    margin-left: 75px;
    margin-top: 5px;
}
input {
    border: 1px solid #595959;
    border-radius: 2px;
}
select {
    border: 1px solid #595959;
    border-radius: 2px;
}
textarea {
    border: 1px solid #595959;
    border-radius: 2px;
}

.botoes {
    margin-top: 25px;
    margin-left: 20px;
}
#descricao{
    vertical-align: top;
}