body {
    background-color: white;
    font-family: Tahoma;
}

.box {
    background-color: #c9f5ef;
    width: 600px;
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border-radius: 2px;
    border: 2px solid #595959;
}

p {
    color: #20856d;
    padding-left: 15px;
    padding-top: 10px;
}

a {
    color: dimgrey;
    font-size: 10px;
    padding-left: 15px;
}

.campos {
    margin-top: 10px;
}

label {
    font-size: small;
    margin-left: 25px;
    float: left;
    margin-top: 4px;
}

input {
    margin-left: 25px;
    float: left;
    border: 1px solid #595959;
    border-radius: 2px;
}

select {
    margin-left: 20px;
    float: left;
    border: 1px solid #2276a3;
    border-radius: 2px;
}

#usuario {
    width: 180px;
}

#senha {
    width: 180px;
}

#nome {
    width: 453px;
    margin-left: 35px;
    margin-top: 5px;
}

#endereco {
    width: 180px;
    margin-top: 5px;
    margin-left: 15px;
}

#cidade {
    width: 183px;
    margin-top: 5px;
    margin-left: 20px;
}

#cep {
    width: 180px;
    margin-top: 5px;
    margin-left: 46px;
}

#estadoid {
    width: 185px;
    margin-top: 5px;
    margin-left: 20px;
}

.botoes {
    margin-top: 25px;
    margin-left: 20px;
}

button {
    width: 80px;
    background-color: #c9f5ef;
    border: 2px solid #c9f5ef;
    color: black;
    margin-left: 75px;
    margin-top: 20px;
}